<section class="app">
  <h1 class="app__title">Welcome to Carrot's Hub!</h1>
  <h2 class="app__subtitle">Simple tools to achieve your goals!.</h2>

  <div class="app__functions">
    <a [routerLink]="pageRoutes.Journal" class="app__function-link">
      <div class="app__function">
        <p class="app__function-title">FOOD JOURNAL</p>
        <img
          src="assets/icons/journal.png"
          class="app__function-icon"
          alt="journal"
          draggable="false"
        />
      </div>
    </a>

    <a [routerLink]="pageRoutes.Recipes" class="app__function-link">
      <div class="app__function">
        <p class="app__function-title">RECIPES</p>
        <img
          src="assets/icons/recipe.png"
          class="app__function-icon"
          alt="recipe"
          draggable="false"
        />
      </div>
    </a>

    <a [routerLink]="pageRoutes.Profile" class="app__function-link">
      <div class="app__function">
        <p class="app__function-title">CALORIE CALCULATOR</p>
        <img
          src="assets/icons/rsk.png"
          class="app__function-icon"
          alt="rsk"
          draggable="false"
        />
      </div>
    </a>
  </div>
</section>
