<section class="app">
  <h1 class="app__title">Добро пожаловать на Carrot's Hub!</h1>
  <h2 class="app__subtitle">Простые инструменты для достижения вашей цели.</h2>

  <!-- <p class="app__login-prompt">Получите доступ ко всем функциям - <a href="/login" class="app__login-link">Войти</a></p> -->

  <!-- <tui-avatar
          avatarUrl="tuiIconCalendarLarge"
          new
          size="xxl"
          class="function"
        ></tui-avatar> -->

  <div class="app__functions">
    <a href="/journal" class="app__function-link">
      <div class="app__function">
        <p class="app__function-title">ДНЕВНИК ПИТАНИЯ</p>
        <img
          src="assets/icons/journal.png"
          class="app__icon"
          alt="journal"
          draggable="false"
        />
      </div>
    </a>

    <a href="/recipes" class="app__function-link">
      <div class="app__function">
        <p class="app__function-title">РЕЦЕПТЫ</p>
        <img
          src="assets/icons/recipe.png"
          class="app__icon"
          alt="recipe"
          draggable="false"
        />
      </div>
    </a>

    <a href="/profile" class="app__function-link">
      <div class="app__function">
        <p class="app__function-title">РАСЧЕТ РСК</p>
        <img
          src="assets/icons/rsk.png"
          class="app__icon"
          alt="rsk"
          draggable="false"
        />
      </div>
    </a>
  </div>
</section>
