<section class="user-info">
  <div class="user-info__avatar">
    <tui-avatar
      avatarUrl="tuiIconUserLarge"
      new
      size="xxl"
      [rounded]="true"
      class="avatar"
    ></tui-avatar>
  </div>
  <div class="user-info__details">
    <h4 class="tui-text_h4">{{ userData?.name || "-" }}</h4>
    <p>Age: {{ userData?.age || "-" }}</p>
    <div class="user-info__parameters">
      <div class="user-info__parameters-details">
        <p>Current weight:</p>
        <p>{{ userData?.weight || "-" }} kg</p>
      </div>
      <div class="user-info__parameters-details">
        <p>Goal:</p>
        <p>{{ userData?.goal || "-" }}</p>
      </div>
      <div class="user-info__parameters-details">
        <p>Optimal weight:</p>
        <p>{{ userData?.optimalWeight || "-" }} kg</p>
      </div>
    </div>
  </div>
</section>
