<div class="recipe-card" (click)="onCardClick()">
  <img
    class="recipe-card__image"
    [src]="recipe.image"
    alt="{{ recipe.label }}"
  />
  <p class="recipe-card__label">{{ recipe.label }}</p>
  <div class="recipe-card__details">
    <p>Number of servings - {{ recipe.yield | number : "1.0-0" }}</p>
    <p>
      Calories per serving -
      {{ recipe.calories / recipe.yield | number : "1.0-0" }}kcal
    </p>
    <div class="recipe-card__macronutrients">
      <p>Protein - {{ recipe.protein | number : "1.0-0" }}g</p>
      <p>Fat - {{ recipe.fat | number : "1.0-0" }}g</p>
      <p>Carbs - {{ recipe.carbs | number : "1.0-0" }}g</p>
    </div>
  </div>
</div>
