<section class="nutritional">
  <div class="calories">
    <div class="calories__consumed">
      <p class="calories__value">{{ caloriesConsumed | number : "1.0-0" }}</p>
      <p class="calories__label">&nbsp;eaten</p>
    </div>
    <tui-ring-chart [value]="ringChartValues">
      <div class="calories__left">
        {{ caloriesLeft | number : "1.0-0" }} / {{ caloriesMax }} kcal left
      </div>
    </tui-ring-chart>
    <div class="calories__spent">
      <p class="calories__value">0</p>
      <p class="calories__label">&nbsp;burned</p>
    </div>
  </div>

  <div class="macronutrients">
    <div class="macronutrient">
      <span class="macronutrient__item">Protein</span>
      <progress
        tuiProgressBar
        new
        size="s"
        [value]="proteinCurrent"
        [max]="proteinMax"
      ></progress>
      <span class="macronutrient__value"
        >{{ proteinCurrent | number : "1.0-0" }} / {{ proteinMax }}g</span
      >
    </div>

    <div class="macronutrient">
      <span class="macronutrient__item">Fat</span>
      <progress
        tuiProgressBar
        new
        size="s"
        [value]="fatCurrent"
        [max]="fatMax"
      ></progress>
      <span class="macronutrient__value"
        >{{ fatCurrent | number : "1.0-0" }} / {{ fatMax }}g</span
      >
    </div>

    <div class="macronutrient">
      <span class="macronutrient__item">Carbs</span>
      <progress
        tuiProgressBar
        new
        size="s"
        [value]="carbsCurrent"
        [max]="carbsMax"
      ></progress>
      <span class="macronutrient__value"
        >{{ carbsCurrent | number : "1.0-0" }} / {{ carbsMax }}g</span
      >
    </div>
  </div>
</section>
