<div class="nutritional">
  <div class="calories">
    <div class="calories__consumed">
      <p class="calories__value">{{ caloriesConsumed() }}</p>
      <p class="calories__label">&nbsp;потребление</p>
    </div>
    <tui-ring-chart [value]="[caloriesConsumed(), caloriesLeft]">
      <div class="calories__left">
        {{ caloriesLeft }} из {{ caloriesMax() }} ккал осталось
      </div>
    </tui-ring-chart>

    <div class="calories__spent">
      <p class="calories__value">0</p>
      <p class="calories__label">&nbsp;расход</p>
    </div>
  </div>

  <div class="macronutrients">
    <div class="macronutrient">
      <span class="macronutrient__item">Белки</span>
      <progress
        tuiProgressBar
        new
        size="s"
        [value]="proteinCurrent"
        [max]="proteinMax()"
      ></progress>
      <span class="macronutrient__value"
        >{{ proteinCurrent }} из {{ proteinMax() }}г</span
      >
    </div>

    <div class="macronutrient">
      <span class="macronutrient__item">Жиры</span>
      <progress
        tuiProgressBar
        new
        size="s"
        [value]="fatCurrent"
        [max]="fatMax()"
      ></progress>
      <span class="macronutrient__value"
        >{{ fatCurrent }} из {{ fatMax() }}г</span
      >
    </div>

    <div class="macronutrient">
      <span class="macronutrient__item">Углеводы</span>
      <progress
        tuiProgressBar
        new
        size="s"
        [value]="carbsCurrent"
        [max]="carbsMax()"
      ></progress>
      <span class="macronutrient__value"
        >{{ carbsCurrent }} из {{ carbsMax() }}г</span
      >
    </div>
  </div>
</div>
