<app-nutritional
  [caloriesConsumed]="caloriesConsumed"
  [caloriesMax]="caloriesMax()"
  [proteinCurrent]="proteinCurrent"
  [proteinMax]="proteinMax()"
  [fatCurrent]="fatCurrent"
  [fatMax]="fatMax()"
  [carbsCurrent]="carbsCurrent"
  [carbsMax]="carbsMax()"
></app-nutritional>

<section class="calendar">
  <tui-input-date
    [formControl]="dateControl"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldSize]="'m'"
    >Выберите дату</tui-input-date
  >
</section>

<!-- meals -->

<section class="meals-accordion">
  @for (meal of meals; track $index) {
  <div class="meal-panel">
    <div
      class="meal-panel__header"
      (click)="meal.isExpanded = !meal.isExpanded"
    >
      <h3>{{ meal.type }}</h3>
      <span>{{ meal.totalCalories | number : "1.0-0" }} ккал</span>
      <button tuiIconButton icon="tuiIconPlus" appearance="primary"></button>
    </div>

    <!-- аккордеон -->
    <tui-expand [expanded]="meal.isExpanded">
      <!-- Поиск еды -->
      <div class="meal-search">
        <tui-input
          [formControl]="meal.searchControl"
          [tuiTextfieldCleaner]="true"
          tuiTextfieldSize="m"
          class="meal-search__input"
        >
          Введите штрихкод...
        </tui-input>
        <div *ngIf="meal.isLoading" class="loader">Идёт поиск...</div>
      </div>

      <!-- Результаты поиска -->
      <div *ngIf="meal.searchResults.length > 0" class="search-results">
        <div *ngFor="let result of meal.searchResults" class="search-result">
          <span>{{ result.label }}</span>
          <div class="search-controls">
          <div class="quantity-input">
            <tui-input-number
              [(ngModel)]="result.quantity"
              [tuiTextfieldSize]="'s'"
              type="number"
              placeholder="г"
              [min]="1"
              class="quantity-input__field"
            ></tui-input-number>
          </div>
          <button
            tuiIconButton
            size="s"
            icon="tuiIconCheck"
            appearance="secondary"
            aria-label="Добавить"
            (click)="onAddFoodToMeal(meal, result)"
          ></button>
          <button
            tuiIconButton
            icon="tuiIconClose"
            size="s"
            appearance="secondary-destructive"
            (click)="clearSearch(meal)"
            aria-label="Отмена"
          ></button>
        </div>
        </div>
      </div>

      <!-- Список добавленных продуктов -->
      <div class="meal-items">
        <div *ngFor="let item of meal.items; let i = index" class="meal-item">
          <span>- {{ item.label }}</span>
          <span>{{ item.quantity }} г</span>
          <span>{{ item.calories | number : "1.0-0" }} ккал</span>
          <button
            tuiIconButton
            icon="tuiIconClose"
            appearance="error"
            (click)="removeFoodFromMeal(meal, i)"
          ></button>
        </div>
      </div>
    </tui-expand>
  </div>

  }
</section>

<app-water-tracker
  [waterGlasses]="waterGlasses"
  [totalWater]="totalWater"
  (waterChange)="onWaterChange($event)"
></app-water-tracker>
