<app-nutritional
  [caloriesConsumed]="caloriesConsumed"
  [caloriesMax]="caloriesMax()"
  [proteinCurrent]="proteinCurrent"
  [proteinMax]="proteinMax()"
  [fatCurrent]="fatCurrent"
  [fatMax]="fatMax()"
  [carbsCurrent]="carbsCurrent"
  [carbsMax]="carbsMax()"
></app-nutritional>

<section class="calendar">
  <tui-input-date
    [formControl]="dateControl"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldSize]="'m'"
    >Choose a date</tui-input-date
  >
</section>

<section class="meals-accordion">
  @for (meal of meals; track $index) {
  <div class="meal-panel">
    <div
      class="meal-panel__header"
      (click)="meal.isExpanded = !meal.isExpanded"
    >
      <div class="meal__text">
        <h3>{{ meal.type }}</h3>
        <span>{{ meal.totalCalories | number : "1.0-0" }} kcal</span>
      </div>
      <button
        сlass="meal__button"
        tuiIconButton
        icon="tuiIconPlus"
        appearance="primary"
      ></button>
    </div>

    <tui-expand [expanded]="meal.isExpanded">
      <div class="meal-search">
        <tui-input
          [formControl]="meal.searchControl"
          [tuiTextfieldCleaner]="true"
          tuiTextfieldSize="m"
          class="meal-search__input"
          [readOnly]="meal.isLoading"
          (keydown.enter)="onSearch(meal)"
        >
          Food...
        </tui-input>
        <button
          type="submit"
          tuiIconButton
          icon="tuiIconSearch"
          appearance="primary"
          (click)="onSearch(meal)"
          [disabled]="meal.isLoading"
          [showLoader]="meal.isLoading"
        ></button>
      </div>

      <div *ngIf="meal.searchResults.length > 0" class="search-results">
        <div *ngFor="let result of meal.searchResults" class="search-result">
          <span>{{ result.label }}</span>
          <div class="search-controls">
            <div class="quantity-input">
              <tui-input-number
                [(ngModel)]="result.quantity"
                [tuiTextfieldSize]="'s'"
                type="number"
                placeholder="г"
                [min]="1"
                class="quantity-input__field"
                >g</tui-input-number
              >
            </div>
            <div class="search-buttons">
              <button
                tuiIconButton
                size="s"
                icon="tuiIconCheck"
                appearance="secondary"
                aria-label="Add"
                (click)="onAddFoodToMeal(meal, result)"
              ></button>
              <button
                tuiIconButton
                icon="tuiIconClose"
                size="s"
                appearance="secondary-destructive"
                (click)="clearSearch(meal)"
                aria-label="Cancel"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="meal-items">
        <div *ngFor="let item of meal.items; let i = index" class="meal-item">
          <div class="meal-item__content">
            <span class="meal-item__label">- {{ item.label }}</span>
            <span class="meal-item__quantity">{{ item.quantity }}g</span>
            <span class="meal-item__calories"
              >{{ item.calories | number : "1.0-0" }}kcal</span
            >
            <button
              tuiIconButton
              icon="tuiIconClose"
              appearance="error"
              (click)="removeFoodFromMeal(meal, i)"
              class="meal-close"
            ></button>
          </div>
        </div>
      </div>
    </tui-expand>
  </div>

  }
</section>

<app-water-tracker
  [waterGlasses]="waterGlasses"
  [totalWater]="totalWater"
  (waterChange)="onWaterChange($event)"
></app-water-tracker>
