<app-nutritional
  [caloriesConsumed]="caloriesConsumed"
  [caloriesMax]="caloriesMax()"
  [proteinCurrent]="proteinCurrent"
  [proteinMax]="proteinMax()"
  [fatCurrent]="fatCurrent"
  [fatMax]="fatMax()"
  [carbsCurrent]="carbsCurrent"
  [carbsMax]="carbsMax()"
></app-nutritional>

<section class="calendar">
  <tui-input-date
    [formControl]="dateControl"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldSize]="'m'"
    >Choose a date</tui-input-date
  >
</section>

<app-meals
  [meals]="meals"
  (addFood)="onAddFoodToMeal($event.meal, $event.food)"
  (removeFood)="removeFoodFromMeal($event.meal, $event.index)"
></app-meals>

<app-water-tracker
  [waterGlasses]="waterGlasses"
  [totalWater]="totalWater"
  (waterChange)="onWaterChange($event)"
></app-water-tracker>
