<p>macronutrients works!</p>
<div class="macronutrients">
  <div class="macronutrient">
    <span>Белки</span>
    <progress
      [value]="proteinCurrent"
      [max]="proteinMax()"
    ></progress>
  </div>
  <div class="macronutrient">
    <span>Жиры</span>
    <progress
      [value]="fatCurrent"
      [max]="fatMax()"
    ></progress>
  </div>
  <div class="macronutrient">
    <span>Углеводы</span>
    <progress
      [value]="carbsCurrent"
      [max]="carbsMax()"
    ></progress>
  </div>
</div>