.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 7rem 2rem 2rem;
  background-color: var(--tui-base-01);
  background-image: url("../assets/icons/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 520px) {
  .main {
    padding: 7rem 1rem 2rem;
  }
}
