.footer {
  background-color: var(--tui-base-02);
  padding: 1rem 2rem;
  font-size: 0.875rem; /* поменять размер? */
  box-shadow: var(--tui-shadow-sidebar);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.footer__link {
  color: var(--tui-text-01);
  // text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--tui-accent-hover);
}