<section class="search">
  <div class="search__container">
    <form class="search__form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="search__field">
        <tui-input
          formControlName="searchControl"
          [tuiTextfieldCleaner]="true"
          tuiTextfieldSize="m"
          class="search__input"
        >
          Поиск рецепта...
          <input tuiTextfield autofocus />
        </tui-input>

        <button
          type="submit"
          tuiIconButton
          icon="tuiIconSearch"
          appearance="primary"
          size="m"
          class="search__button"
        >
          Искать
        </button>
      </div>
    </form>
  </div>
</section>

<section class="recipes">
  @for ( recipe of recipes$ | async; track $index) {
  <div class="recipes__card"
    (click)="openRecipeDetail(recipe.uri)"
  >
    <img class="recipes__image" [src]="recipe.image" alt="{{ recipe.label }}" />
    <p class="recipes__label">{{ recipe.label }}</p>
    <p>Количество порций - {{ recipe.yield | number : "1.0-0" }}</p>
    <p>
      Калорийность на 1 порцию -
      {{ recipe.calories / recipe.yield | number : "1.0-0" }}ккал
    </p>
    <p>Белки - {{ recipe.protein | number : "1.0-0" }}г</p>
    <p>Жиры - {{ recipe.fat | number : "1.0-0" }}г</p>
    <p>Углеводы - {{ recipe.carbs | number : "1.0-0" }}г</p>
  </div>
}
</section>

<!-- <app-recipe-card [recipe]="recipe"></app-recipe-card> -->