<section class="search">
  <div class="search__container">
    <form class="search__form" [formGroup]="searchForm">
      <div class="search__field">
        <tui-input
          tuiAutoFocus
          formControlName="searchControl"
          [tuiTextfieldCleaner]="true"
          tuiTextfieldIcon="tuiIconSearchLarge"
          tuiTextfieldSize="m"
          class="search__input"
        >
          Recipe search...
          <input
            tuiTextfield
            #searchInput
            tuiAutoFocus
            [disabled]="loading()"
          />
        </tui-input>
      </div>
    </form>
  </div>
</section>

@if (!isSearched && !loading()) {
<section class="recipes__prompt-container">
  <p class="recipes__prompt">
    Start your search by entering the name of a recipe or product in the field
    above.
  </p>
</section>
} @if (loading()) {
<app-loader></app-loader>
} @if (isSearched) {
<section
  class="recipes"
  [ngClass]="{
    'recipes--no-results': isSearched && (recipes$ | async)?.length === 0
  }"
>
  @if (recipes$ | async; as recipes) { @if (recipes.length > 0) { @for (recipe
  of recipes; track $index) {
  <app-recipe-card [recipe]="recipe"></app-recipe-card>
  } } @else {
  <p class="recipes__not-found">
    Sorry, nothing was found. Please try searching for another recipe.
  </p>
  } }
</section>
}
