<div class="container">
  <section class="user-info">
    <div class="user-info__avatar">
      <tui-avatar
        avatarUrl="tuiIconUserLarge"
        new
        size="xxl"
        [rounded]="true"
        class="avatar"
      ></tui-avatar>
    </div>
    <div class="user-info__details">
      @if (userData$ | async; as userData) {
      <h4 class="tui-text_h4">{{ userData.name }}</h4>
      <p>Возраст: {{ userData.age || "-" }}</p>
      <div class="user-info__parameters">
        <div class="user-info__parameters-details">
          <p>Текущий вес:</p>
          <p>{{ userData.weight || "-" }} кг</p>
        </div>
        <div class="user-info__parameters-details">
          <p>Цель:</p>
          <p>{{ userData.targetWeight || "-" }} кг</p>
        </div>
      </div>
      }
    </div>
  </section>

  <section class="calories-form">
    <h6 class="tui-text_h6">Вычислить рекомендованную суточную калорийность</h6>
    <form
      class="calories-form__form"
      [formGroup]="dailyCaloriesForm"
      (ngSubmit)="onCalculate()"
    >
      <div class="calories-form__field">
        <label class="calories-form__label"> Цель: </label>
        <tui-select
          formControlName="goal"
          tuiTextfieldSize="m"
          class="calories-form__select"
          [tuiTextfieldLabelOutside]="true"
        >
          <tui-data-list-wrapper
            *tuiDataList
            [items]="goals"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>

      <div class="calories-form__field">
        <label class="calories-form__label"> Возраст: </label>
        <tui-input-number
          formControlName="age"
          tuiTextfieldSize="m"
          class="calories-form__select"
          [tuiTextfieldLabelOutside]="true"
        >
        </tui-input-number>
      </div>

      <div class="calories-form__field">
        <label class="calories-form__label"> Пол: </label>
        <tui-select
          formControlName="gender"
          tuiTextfieldSize="m"
          class="calories-form__select"
          [tuiTextfieldLabelOutside]="true"
        >
          <tui-data-list-wrapper
            *tuiDataList
            [items]="genders"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>

      <div class="calories-form__field">
        <label class="calories-form__label"> Образ жизни: </label>
        <tui-select
          formControlName="lifestyle"
          tuiTextfieldSize="m"
          class="calories-form__select"
          [tuiTextfieldLabelOutside]="true"
        >
          <tui-data-list-wrapper
            *tuiDataList
            [items]="lifestyles"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>

      <div class="calories-form__field">
        <label class="calories-form__label"> Вес, кг: </label>
        <tui-input-number
          formControlName="weight"
          tuiTextfieldSize="m"
          class="calories-form__select"
          [tuiTextfieldLabelOutside]="true"
        >
        </tui-input-number>
      </div>

      <div class="calories-form__field">
        <label class="calories-form__label"> Рост, см: </label>
        <tui-input-number
          formControlName="height"
          tuiTextfieldSize="m"
          class="calories-form__select"
          [tuiTextfieldLabelOutside]="true"
        >
        </tui-input-number>
      </div>

      <button tuiButton type="submit" [disabled]="!dailyCaloriesForm.valid">
        Вычислить
      </button>
    </form>
  </section>

  <!-- <section class="calories-result" *ngIf="dailyCaloriesForm.valid"> -->
  <section class="calories-result">
    <h6 class="tui-text_h6">Ваша дневная норма составляет</h6>
    <span class="calories-result__value">{{ calculatedCalories || '-'}}  ккал</span>
    <div class="calories-result__macronutrients">
      <div class="macronutrients-item">
        <p>Углеводы:</p>
        <p>{{ carbohydrates || '-'}}г</p>
      </div>
      <div class="macronutrients-item">
        <p>Белки:</p>
        <p>{{ protein || '-'}}г</p>
      </div>
      <div class="macronutrients-item">
        <p>Жиры:</p>
        <p>{{ fat || '-'}}г</p>
      </div>
    </div>
  </section>
</div>
