<div class="form-container">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h3 class="form__header tui-text_h3">Registration</h3>

    <div>
      <tui-input
        formControlName="name"
        [tuiTextfieldCleaner]="!loading()"
        tuiTextfieldSize="m"
      >
        name
        <span class="tui-required"></span>
        <input
          autocomplete="name"
          placeholder="Natalia"
          tuiTextfield
          autofocus
          type="text"
          [disabled]="loading()"
        />
      </tui-input>
      <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div>
      <tui-input
        formControlName="email"
        [tuiTextfieldCleaner]="!loading()"
        tuiTextfieldSize="m"
      >
        e-mail
        <span class="tui-required"></span>
        <input
          autocomplete="email"
          placeholder="admin2@test.ru"
          tuiTextfield
          autofocus
          type="email"
          [disabled]="loading()"
        />
      </tui-input>
      <tui-error
        formControlName="email"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div>
      <tui-input-password formControlName="password" tuiTextfieldSize="m">
        password
        <span class="tui-required"></span>
        <input placeholder="******" tuiTextfield [disabled]="loading()" />
      </tui-input-password>
      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div>
      <tui-input-password
        formControlName="confirmPassword"
        tuiTextfieldSize="m"
      >
        confirm password
        <span class="tui-required"></span>
        <input placeholder="******" tuiTextfield [disabled]="loading()" />
      </tui-input-password>
      <tui-error
        [formGroup]="registerForm"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <button
      size="m"
      tuiButton
      appearance="primary"
      type="submit"
      [showLoader]="loading()"
      [disabled]="loading() || !registerForm.valid"
    >
      Register
    </button>
  </form>

  <div class="form__links">
    <span>Already have an account?</span>
    <a [routerLink]="['/', pageRoutes.Login]" mode="positive" tuiLink>Login</a>
  </div>
</div>
