.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  width: calc(100% - var(--scrollbar-width, 0px));
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.781);
  backdrop-filter: blur(5px);
  padding: 1rem 2rem;
  box-shadow: var(--tui-shadow-navigation);
  box-sizing: border-box;
  border-bottom: 0.006rem dotted var(--tui-primary);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__link {
    text-decoration: none;
    color: var(--tui-text-01);
    transition: color 0.3s ease;

    &:hover,
    &:active {
      color: var(--tui-accent);
    }
  }

  &__nav {
    display: flex;
    gap: 1rem;
  }
}

.active-link {
  font-weight: bold;
  color: var(--tui-primary);
  border-bottom: 0.125rem solid var(--tui-accent);
}