<div class="form-container">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2 class="form-header tui-text_h2">Вход</h2>

    <div>
      <tui-input
        formControlName="email"
        [tuiTextfieldCleaner]="true"
        tuiTextfieldSize="m"
      >
        e-mail
        <span class="tui-required"></span>
        <input
          autocomplete="email"
          placeholder="admin@admin.ru"
          tuiTextfield
          type="email"
        />
      </tui-input>
      <tui-error
        formControlName="email"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div>
      <tui-input-password
        formControlName="password"
        tuiTextfieldSize="m"
        tuiHintAppearance="onDark"
        tuiHintContent
        tuiHintDirection="right"
      >
        пароль
        <span class="tui-required"></span>
      </tui-input-password>
      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <button
      size="m"
      tuiButton
      appearance="accent"
      type="submit"
      [showLoader]="loading()"
      [disabled]="!loginForm.valid"
    >
      Войти
    </button>
  </form>

  <div class="divider">или</div>

  <button class="google-button" tuiButton appearance="outline">
    Вход с аккаунтом Google
  </button>

  <div class="links">
    <span>Нет аккаунта?</span>
    <a [routerLink]="['/', pageRoutes.Register]" tuiLink>Регистрация</a>
  </div>
</div>
