:host {
  --tui-accent: #0e8599;
  --tui-accent-hover: #3d9aaa;
  --tui-accent-active: #096475;
  --tui-positive: #0e8599;
  --tui-positive-hover: #ff7043;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 25rem;
  margin: 0 auto;
  padding: 1rem 3rem 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: var(--tui-shadow-navigation);
  border-bottom: 0.5rem solid #0e8599;
}

.form,
.form-bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--tui-text-01);
  max-width: 20rem;
  width: 100%;
  text-align: center;

  .form-header {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.links {
  display: flex;
  margin-top: 2rem;
  gap: 0.5rem;
  align-self: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.25rem 0;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:before {
  margin-right: 0.625rem;
}

.divider:after {
  margin-left: 0.625rem;
}
