<div class="form-container">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h3 class="form__header tui-text_h3">Вход</h3>

    <div>
      <tui-input
        formControlName="email"
        [tuiTextfieldCleaner]="true"
        tuiTextfieldSize="m"
      >
        e-mail
        <span class="tui-required"></span>
        <input
          autocomplete="email"
          placeholder="admin@admin.ru"
          tuiTextfield
          autofocus
          type="email"
        />
      </tui-input>
      <tui-error
        formControlName="email"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div>
      <tui-input-password formControlName="password" tuiTextfieldSize="m">
        пароль
        <span class="tui-required"></span>
        <input placeholder="******" tuiTextfield />
      </tui-input-password>
      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <button
      size="m"
      tuiButton
      appearance="primary"
      type="submit"
      [showLoader]="loading()"
      [disabled]="!loginForm.valid"
    >
      Войти
    </button>
  </form>

  <div class="form__bottom">
    <div class="form__divider">или</div>

    <button
      size="m"
      tuiButton
      appearance="outline"
      class="form__google-button"
      [disabled]="loading()"
      (click)="onGoogleLogin()"
    >
      <img
        src="assets/icons/google.svg"
        alt="Google Icon"
        class="form__google-icon"
      />
      Войти с Google
    </button>

    <div class="form__links">
      <span>Нет аккаунта?</span>
      <a [routerLink]="['/', pageRoutes.Register]" mode="positive" tuiLink
        >Регистрация</a
      >
    </div>
  </div>
</div>
