<div class="water-tracker">
  <h3 class="water-tracker__title">Вода</h3>
  <div class="water-tracker__glasses">
    <div
      *ngFor="let glass of waterGlasses; let i = index"
      class="water-tracker__glass"
      (click)="onToggleWater(i)"
    >
      <img
        [src]="
          glass.filled
            ? 'assets/icons/water-filled.png'
            : 'assets/icons/water-empty.png'
        "
        alt="glass"
        class="water-tracker__glass-image"
      />
    </div>
  </div>
  <div class="water-tracker__total">{{ totalWater }} л</div>
</div>
