<div class="water-tracker">
  <div class="water-tracker__header">
    <h3 class="water-tracker__total">{{ totalWater }} л</h3>
    <h3 class="water-tracker__title">Вода</h3>
  </div>
  <div class="water-tracker__glasses">
    @for (glass of waterGlasses; track $index) {
    <div class="water-tracker__glass" (click)="onToggleWater($index)">
      <img
        [src]="
          glass.filled
            ? 'assets/icons/water-filled.png'
            : 'assets/icons/water-empty.png'
        "
        alt="glass"
        class="water-tracker__glass-image"
      />
    </div>
    }
  </div>
</div>
